.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;

  background-image: url("https://img.freepik.com/vetores-premium/padrao-de-educacao-com-icones-cor-rosa-material-escolar-para-promocao-de-decoracao-escola-fundo-super-venda-banner-compras-vetor-ilustracao-10-eps_824631-3765.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.45);
  z-index: 0;
}

.container > * {
  z-index: 1;
}


.titulo {
 font-size: 55px;
  font-family: 'Lobster', cursive;
  color: #e4459b;
  margin-bottom: 25px;
}

.card {
    background: rgba(251, 255, 215, 0.7);
  padding: clamp(60px, 8vw, 80px) clamp(20px, 5vw, 40px);
  width: 90%;
  max-width: 950px;
  padding: 40px;
  border-radius: 35px;
  text-align: center;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}

