/* login.module.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');


h1{
 -webkit-text-stroke: 1.5px rgb(255, 255, 255);
 font-size: 60px;
 color:#e4459b;/* #b30074*/
 text-shadow: 5px 8px 5px rgba(0, 0, 0, 0.5);

font-family: "Lobster", sans-serif;
 font-weight: 400;
 font-style: normal;
}

.loginContainer {
  position: fixed;            /* imagem fixa na tela */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://img.freepik.com/vetores-premium/padrao-de-educacao-com-icones-cor-rosa-material-escolar-para-promocao-de-decoracao-escola-fundo-super-venda-banner-compras-vetor-ilustracao-10-eps_824631-3765.jpg") center center / cover no-repeat;
  overflow: hidden;           /* remove scroll */
  z-index: 0;

  padding-right: 42px; 
}

.loginContainer::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(236, 232, 232, 0.58);
  z-index: 0;
}

.loginBox {
  position: relative;
  z-index: 1;
  background: rgba(251, 255, 215, 0.7); /* semi-transparente */
  padding: 40px;
  border-radius: 60px;
  width: 700px;
  max-width: 90%;
  height: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  backdrop-filter: blur(10px);
}

.loginAvatar i {
  font-size: 70px;
  color: rgb(97, 97, 97);
}

.loginTitle {
  margin-top: 10px;
  color: #b30074;
  font-weight: 600;
  border-bottom: 2px solid #b30074;
  display: inline-block;
  padding-bottom: 5px;
}

.inputGroup {
  margin: 15px auto;
  width: 80%;
  max-width: 280px;
  text-align: left;
}

.inputGroup label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
  font-size: 14px;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.inputWrapper input {
  padding: 10px 40px 10px 40px; /* espaço para ícones */
  border-radius: 20px;
  border: 1px solid black;
  background-color: #ffffff;
  outline: none;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  transition: 0.2s;
  
  padding-right: 42px; 
}

.inputWrapper input:focus {
  box-shadow: 0 0 5px #b30074;
}

.icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  font-size: 16px;
  pointer-events: none;
}

.iconOlho {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;

  width: 24px;      /* ← TRAVA o espaço do ícone */
  height: 24px;     /* ← mantém tamanho constante */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.iconOlho:hover {
  color: #333;
}

.btnEntrar {
  background-color: #e4459b;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.2s;
  margin: 10px auto;
  height: 25px;
  width: 20%;
}

.btnEntrar:hover {
  background-color: #c83787;
}

.cadastroText {
  margin-top: 15px;
  font-size: 14px;
}

.cadastroText a {
  color: #b30074;
  text-decoration: none;
  font-weight: 600;
}

.erroText {
  color: red;
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.titleIcon {
  font-size: 30px;
  color: rgb(97, 97, 97);
}

.btnQuiz {
  background-color: #ffffff;
  border: 1px solid black;
  color: rgb(51, 51, 51);

  padding: 8px 10px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  width: 20%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.2s;
  margin: 10px auto;
}
  
.btnQuiz:hover {
  background-color: #e4e4e4;
}


/* MODAL */
.modalFundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalBox {
  background: white;
  padding: 25px;
  width: 330px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modalBox input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
  background-color: #fbffd7;
}

.modalBotoes {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btnSalvar {
  color: #4caf50;
  background-color: white;
  padding: 10px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #4caf50;

  height: 25px; /* mesma altura */
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnSalvar:hover {
  color: #ffffff;
  background-color: #8dc98e;
}

.btnCancelar {
  background: white;
  border: 2px solid #d9534f;
  color: #d9534f;
  padding: 10px 10px;
  border-radius: 8px;
  cursor: pointer;

  height: 25px; /* mesma altura */
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnCancelar:hover{
  color: white;
  background-color: #d87f7b;
}

.erro {
  color: red;
  font-size: 14px;
}

.sucesso {
  color: green;
  font-size: 14px;
}

.jogador{
  background: #fff;
  border-radius: 20px;
  padding: 7px 15px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;

  cursor: pointer;
}

.topoDireita {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  gap: 6px; /* espaço entre voltar e jogador */
}


.btnVoltarMini {
  background-color: #e4459b;
  color: white;
  border: none;
  padding: 7px 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}

.btnVoltarMini:hover {
  background-color: #c83787;
}

.jogadorBoxMini {
  display: flex;
  align-items: center;
  gap: 6px;
  background: #ffffff20;
  padding: 8px 12px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.jogadorBoxMini:hover {
  background: #ffffff40;
}

.jogadorNomeMini {
  font-weight: bold;
}

.tituloModal{
  -webkit-text-stroke: 1.5px rgb(255, 255, 255);
 font-size: 30px;
 color:#e4459b;/* #b30074*/
 text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);

  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;

  justify-content: center;
  display: flex;
}
