@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

h1{
  -webkit-text-stroke: 1.5px rgb(255, 255, 255);
  font-size: 60px;
  color:#e4459b;/* #b30074*/
  text-shadow: 5px 8px 5px rgba(0, 0, 0, 0.5);

   font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
