@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Ribeye&display=swap');

/* ----------------------------- CONTAINER ----------------------------- */

.loginContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: url("https://img.freepik.com/vetores-premium/padrao-de-educacao-com-icones-cor-rosa-material-escolar-para-promocao-de-decoracao-escola-fundo-super-venda-banner-compras-vetor-ilustracao-10-eps_824631-3765.jpg")
    center center / cover no-repeat;

  overflow: hidden;
  z-index: 0;
}

.loginContainer::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(236, 232, 232, 0.58);
  z-index: 0;
}

/* ----------------------------- BOX CENTRAL ----------------------------- */

.loginBox {
  position: relative;
  z-index: 2;

  background: #fbffd796;
  padding: 30px 20px;

  border-radius: 60px;

  width: 55%;
  max-width: 950px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

  text-align: center;
  backdrop-filter: blur(10px);
}

/* ----------------------------- BOTÃO VOLTAR ----------------------------- */

.btnVoltar {
  background-color: #e4459b;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 6px 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 15px;
  transition: 0.2s;
}

.btnVoltar:hover {
  background-color: #c83787;
}

/* ----------------------------- TÍTULOS ----------------------------- */

.titulo {
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
  font-size: 35px;
  color: #e4459b;
  text-shadow: 5px 8px 5px rgba(0, 0, 0, 0.5);
  font-family: "Ribeye", serif;
  margin-top: 20px;
}

/* ----------------------------- CARDS ----------------------------- */

.quizzes {
  margin-top: 25px;
}

.cardsRow {
  display: flex !important;
  flex-direction: row !important;
  gap: 35px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* evita quebrar tudo */
  margin-top: 20px;
  margin-bottom: 30px;
}

/* ----------------------------- QUADRADOS ----------------------------- */

.quizcaixa {
  background: #ffffff;
  border-radius: 40px;

  border: 4px solid #e4459b;
  height: 180px;
  width: 260px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;

  box-shadow:
    inset 0 0 10px rgba(255, 0, 140, 0.2),
    0 0 20px rgba(0, 0, 0, 0.2);

  transition: transform 0.2s;
}

.quizcaixa:hover {
  transform: scale(1.03);
}
.quizLink {
  text-decoration: none;
}


/* ----------------------------- RESPONSIVIDADE ----------------------------- */

@media (max-width: 900px) {
  .loginBox {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .cardsRow {
    flex-direction: column !important;
    gap: 20px;
  }

  .quizcaixa {
    width: 220px;
    height: 160px;
  }
}
