/*avatar*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
    background: url("https://img.freepik.com/vetores-premium/padrao-de-educacao-com-icones-cor-rosa-material-escolar-para-promocao-de-decoracao-escola-fundo-super-venda-banner-compras-vetor-ilustracao-10-eps_824631-3765.jpg") center/cover no-repeat fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
  
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.671); /* filtro escuro */
    z-index: 0;
}
  
.login-box {
    position: relative;
    z-index: 1; /* garante que o formulário fique por cima */
}

.login-box {
    background: #fbffd7a9;
    padding: 40px;
    border-radius: 60px;
    width: 700px;
    height: 420px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(10px);
}
    
.login-avatar i {
    font-size: 70px;
    color: rgb(97, 97, 97);
}
    
.login-title {
    margin-top: 10px;
    color: #b30074;
    font-weight: 600;
    border-bottom: 2px solid #b30074;
    display: inline-block;
    padding-bottom: 5px;
}
.input-group {
    margin: 15px auto;
    width: 80%;
    max-width: 280px;
    text-align: left;
    
}
  
.input-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: #333;
    font-size: 14px;
    
}
  
.input-wrapper {
    position: relative;
    width: 100%;
}
  
.input-wrapper .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
    pointer-events: none;
}
  
.input-wrapper input {
    width: 100%;
    padding: 10px 15px 10px 40px; /* espaço pro ícone */
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
    outline: none;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    transition: 0.2s;

    border: 1px solid black
}
  
.input-wrapper input:focus {
    box-shadow: 0 0 5px #b30074;
}
    
.btn-entrar {
    background-color: #e4459b;
    color: white;
    border: none;
    padding: 2px 10px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    width: 16%;
    margin-top: 10px;
}
    
.btn-entrar:hover {
    background-color: #c83787;
}
    
.cadastro-text {
    margin-top: 15px;
    font-size: 14px;
}
    
.cadastro-text a {
    color: #b30074;
    text-decoration: none;
    font-weight: 600;
}

p {
    color: #333;
}

/*--- ----------- --*/
.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.title-icon{
    font-size: 30px;
    color: rgb(97, 97, 97);
}

.teste {
  display: block; /* ocupa uma linha inteira */
  width: 20%;
  margin: 10px auto; /* centraliza e dá espaço */
  padding: 6px;
  border-radius: 20px;
  border: 1px solid black;
  background-color: #ffffff;
  font-size: 14px;
  color: #333;
  transition: 0.2s;

}
