/* CONTAINER GERAL (divide a tela ao meio) */
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

.Container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: "Arial", sans-serif;
  overflow: hidden;
}

/* --------------------- LADO ESQUERDO --------------------- */
.salaquizLeft {
  flex: 1;
  background: rgba(251, 255, 215, 0.7); 
  display: flex;
  justify-content: left;
  align-items: left;
  padding: 40px;

  flex-direction: column;
}

/* Caixinha principal da esquerda */


/* Título */
h1 {
  font-size: 38px;
  color: #b30074;
  text-shadow: 2px 2px 4px #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

/* Código da sala / Jogador */
.infoItem {
  margin-bottom: 15px;
}

.codigo,
.jogador {
  background: #fff;
  border-radius: 20px;
  padding: 8px 15px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #000;
}

.btnVoltar {
  position: absolute;
  top: 25px;
  left: 25px;
  border: none;
  background: white;
  border-radius: 50%;
  padding: 12px 15px;
  cursor: pointer;
  font-size: 18px;
}

/* --------------------- LADO DIREITO --------------------- */
.salaquizRight {
  flex: 1;
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 40px;
  background: url("https://img.freepik.com/vetores-premium/padrao-de-educacao-com-icones-cor-rosa-material-escolar-para-promocao-de-decoracao-escola-fundo-super-venda-banner-compras-vetor-ilustracao-10-eps_824631-3765.jpg")
    center/cover no-repeat;
}

/* Overlay rosado transparente */
.salaquizRight::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 240, 250, 0.55);
  backdrop-filter: blur(px);
  z-index: 1;
}

/* Conteúdo fica acima do overlay */
.salaquizRight > * {
  position: relative;
  z-index: 2;
}

/* Caixa branca interna da direita */
.categoriasLista,
.instrucao,
.total,
.btnSalvar {
  z-index: 2;
}

.instrucao {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
}

/* Lista de categorias */
.categoriasLista {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 420px;
}

.categoriaItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #feffe9ce;
  padding: 8px 15px;
  border-radius: 15px;
  border: 1px solid #000;
}

/* Controles de + e - */
.controles {
  display: flex;
  align-items: center;
  gap: 10px;
}

.controles button {
  background: #e4459b;
  color: white;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.controles span {
  min-width: 20px;
  font-weight: bold;
  text-align: center;
}

.total {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Botão iniciar */
.btnIniciar {
  background: white;
  color: green;
  border-radius: 20px;
  padding: 8px 25px;
  cursor: pointer;
  margin-top: 10px;
  border: 2px solid green;
  
}

.btnIniciar:hover {
  background: #238636;
  color: white;
}

.btnDesabilitado {
  opacity: 0.5;
  cursor: not-allowed;
}

.boxdireita{
  background-color: #fdfdfd;
  width: 65%;
  height: 70%;
  border-radius: 25px;
  box-shadow: 0 0 30px 15px rgba(12, 12, 12, 0.5);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*------- Modal editar perfil ------- */
.modalFundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modalBox {
  background: #fff;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modalBox input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
  background-color: #fbffd7;
}

.modalBotoes {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btnSalvar {
  color: #4caf50;
  background-color: white;
  padding: 10px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #4caf50;

  height: 25px; /* mesma altura */
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnSalvar:hover {
  color: #ffffff;
  background-color: #8dc98e;
}

.btnCancelar {
  background: white;
  border: 2px solid #d9534f;
  color: #d9534f;
  padding: 10px 10px;
  border-radius: 8px;
  cursor: pointer;

  height: 25px; /* mesma altura */
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnCancelar:hover{
  color: white;
  background-color: #d87f7b;
}

.erro {
  color: red;
  font-size: 14px;
}

.sucesso {
  color: green;
  font-size: 14px;
}

.tituloModal{
  -webkit-text-stroke: 1.5px rgb(255, 255, 255);
 font-size: 30px;
 color:#e4459b;/* #b30074*/
 text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);

  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;

  justify-content: center;
  display: flex;
}
