/* login.module.css */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

.loginContainer {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://img.freepik.com/vetores-premium/padrao-de-educacao-com-icones-cor-rosa-material-escolar-para-promocao-de-decoracao-escola-fundo-super-venda-banner-compras-vetor-ilustracao-10-eps_824631-3765.jpg") center/cover no-repeat fixed;
    overflow: hidden;
}

.loginContainer::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(236, 232, 232, 0.582);
    z-index: 0;
}

.loginBox {
    position: relative;
    z-index: 1;
    background: #fbffd7ad;
    padding: 40px;
    border-radius: 60px;
    width: 700px;
    height: 420px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    backdrop-filter: blur(10px);
}

.loginAvatar i {
    font-size: 70px;
    color: rgb(97, 97, 97);
}

.loginTitle {
    margin-top: 10px;
    color: #b30074;
    font-weight: 600;
    border-bottom: 2px solid #b30074;
    display: inline-block;
    padding-bottom: 5px;
}

.inputGroup {
    margin: 15px auto;
    width: 80%;
    max-width: 280px;
    text-align: left;
}

.inputGroup label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: #333;
    font-size: 14px;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.inputWrapper input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #ffffff;
    outline: none;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    transition: 0.2s;
}

.inputWrapper input:focus {
    box-shadow: 0 0 5px #b30074;
}

.icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 16px;
    pointer-events: none;
}

.iconOlho {
    position: absolute;
    right: 10px;
    color: #888;
    cursor: pointer;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.iconOlho:hover {
    color: #333;
}

.btnEntrar {
    background-color: #e4459b;
    color: white;
    border: none;
    padding: 2px 10px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    width: 16%;
    margin-top: 10px;
}

.btnEntrar:hover {
    background-color: #c83787;
}

.cadastroText {
    margin-top: 15px;
    font-size: 14px;
}

.cadastroText a {
    color: #b30074;
    text-decoration: none;
    font-weight: 600;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.titleIcon {
    font-size: 30px;
    color: rgb(97, 97, 97);
}

.teste {
    display: block;
    width: 20%;
    margin: 10px auto;
    padding: 6px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #ffffff;
    font-size: 14px;
    color: #333;
    transition: 0.2s;
}
