/* ======================= */
/*  LAYOUT PRINCIPAL       */
/* ======================= */
.container {
  display: flex;
  background-color: rgba(251, 255, 215, 0.7);
  height: 100vh;
  font-family: "Arial", sans-serif;
}
/*--- Não permite q o fundo escuro da imagem sobreponha-lo --- */
.container > *:not(.imagemContainer) {
  position: relative;
  z-index: 2;
}

/* COLUNA ESQUERDA   */
.colunaEsquerda {
  flex: 1;
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  align-items: flex-start;

  padding-top: 60px;  
}


.materia {
  margin-top: -10px;
  font-size: 22px;
}

.questaoBox {
  margin-top: 30px;
}

.numero {
  font-weight: bold;
  font-size: 20px;
}

.pontos {
  float: right;
}

.enunciado {
  margin-top: 25px;
  font-size: 28px;      
  font-weight: 600;
  line-height: 1.4;
  max-width: 90%;
}


.listaAlternativas li {
  margin-top: 10px;
  font-size: 18px;
}

.alternativaCorreta {
  color: green;
  font-weight: bold;
}

.alternativaErrada {
  color: red;
  font-weight: bold;
}


/*  COLUNA DIREITA    */

.colunaDireita {
  width: 50%;
  background: url("https://img.freepik.com/vetores-premium/padrao-de-educacao-com-icones-cor-rosa-material-escolar-para-promocao-de-decoracao-escola-fundo-super-venda-banner-compras-vetor-ilustracao-10-eps_824631-3765.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* SOBREPOSIÇÃO CLARA */
.colunaDireita::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.6);
}

/* EVITA FICAR ESCURO */
.colunaDireita > * {
  position: relative;
  z-index: 2;
}

/* CAIXA CENTRAL (CARD) */
.caixa {
  background-color: #fdfdfd;
  width: 75%;
  max-width: 550px;
  min-height: 60%;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 0 30px 15px rgba(12, 12, 12, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow-y: auto;
}

/* TÍTULO ESCOLHA */
.tituloResposta {
  font-size: 32px;
  font-family: "Sigmar", sans-serif;
  color: #e4459b;
  margin-top: 15px;

  -webkit-text-stroke: 1.5px white;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.45);
}

/*  BLOCO CINZA DOS BOTÕES  */
.blocoCinza {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 25px;
  height: 20%;
  width: 50%;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.btngeral,
.btngeralOculto {
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.btngeral {
  background-color: #c7bdc1;
}

.btngeral:hover {
  background-color: #d7dfe4;
}

.btngeralOculto {
  background-color: #ececec;
  cursor: default;
}

/* BOTÃO VOLTAR    */
.btnVoltar {
  background-color: #e4459b;
  color: white;
  border: none;
  padding: 7px 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
}

.btnVoltar:hover {
  background-color: #c83787;
}

.colunaEsquerda ul li {
  margin-top: 18px;
  font-size: 24px;        
  font-weight: 500;
}

.colunaEsquerda h1 {
  font-size: 46px;
  margin-bottom: 8px;
}

.colunaEsquerda h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}
