/* Container principal igual à tela da pergunta */
.container {
  display: flex;
  background-color: rgba(251, 255, 215, 0.7);
  height: 100vh;
  font-family: "Arial", sans-serif;
}
/*--- Não permite q o fundo escuro da imagem sobreponha-lo --- */
.container > *:not(.imagemContainer) {
  position: relative;
  z-index: 2;
}

/* Coluna esquerda com questão */
.colunaEsquerda {
  margin-top: 50px;
  flex: 1;
}

.materia {
  margin-top: -10px;
  font-size: 22px;
}

.numero {
  font-weight: bold;
  font-size: 20px;
}

.pontos {
  float: right;
}

.enunciado {
  margin-top: 10px;
  font-size: 18px;
}

.listaAlternativas li {
  margin-top: 10px;
  font-size: 18px;
}

.alternativaCorreta {
  color: green;
  font-weight: bold;
}

.alternativaErrada {
  color: red;
  font-weight: bold;
}

/* Coluna direita com resposta */
.colunaDireita {
  width: 50%;
  background-color: #f2e9d6;
  padding: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  background: url("https://img.freepik.com/vetores-premium/padrao-de-educacao-com-icones-cor-rosa-material-escolar-para-promocao-de-decoracao-escola-fundo-super-venda-banner-compras-vetor-ilustracao-10-eps_824631-3765.jpg") center center / cover no-repeat;
  background-size: cover;       /* cobre toda a coluna */
  background-position: center;  /* centraliza a imagem */
  background-repeat: no-repeat;

  overflow: hidden;
}
.colunaDireita::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(236, 232, 232, 0.58); /* preto com 50% de transparência */
  z-index: 1;

  border-radius: 12px;
}

.colunaDireita > *:not(.imagemContainer) {
  position: relative;
  z-index: 2;
  color: #fff;
}

.tituloResposta {
  font-size: 22px;
  margin-bottom: 30px;
  color: #000000;
}

/* Bloco cinza para botões de alternativa */
.blocoCinza {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 25px;
  height: 20%;
  width: 50%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.btnNeutro,
.btnCerto,
.btnErrado {
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  cursor: default;
}

.btnCerto {
  background-color: #2ecc71;
  color: white;
}

.btnErrado {
  background-color: #e74c3c;
  color: white;
}

.btnNeutro {
  background-color: #bdc3c7;
}

.btngeral{
  border: 1px solid black;
  background-color: rgba(251, 255, 215, 0.7);
}
.btngeral:hover{
  background-color: #e4e4e4;
}

.msg {
  margin-top: 20px;
  font-size: 18px;
  color: #000000;
}

.btnProxima {
  margin-top: 25px;
  padding: 12px 25px;
  background-color: #8e44ad;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btnProxima:hover {
  background-color: #732d91;
}

.caixa{
  background-color: #fdfdfd;
  width: 65%;
  height: 70%;
  border-radius: 25px;
  box-shadow: 0 0 30px 15px rgba(12, 12, 12, 0.5);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3{
  color: #000000;
}

.btnVoltar {
  top: 25px;
  left: 25px;
  border: none;
  background: white;
  border-radius: 50%;
  padding: 12px 15px;
  cursor: pointer;
  font-size: 18px;
}

.tituloResposta{
  -webkit-text-stroke: 1.5px rgb(255, 255, 255);
 font-size: 30px;
 color:#e4459b;/* #b30074*/
 text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5);

  font-family: "Sigmar", sans-serif;
  font-weight: 400;
  font-style: normal;

  margin-top: 1px;
}